body {
    background-color: #fcf3e6ff;
    padding-top: 50px;
    color: #434343;
    font-family: 'Anonymous Pro', monospace;

}
.top{
    margin-top:20px;
}
.command{
    color: #87bf6e;
    font-weight:bold;
}

.flags {
    color:#6e9dbf;
    font-weight:bold;
}

.search-string{
    color:#e06666;
    font-weight:bold;

}

.location{
    color:#b46ebf;
    font-weight:bold;

}
.content{
    margin-top: 50px;
    margin-left:50px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.prompt{
    font-size: small;
    margin-bottom: 20px;
}
.instruction{
    font-size:normal;
}
.nav{
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
    text-align:center;
}
.navbuttons{
    width: 10%
    /* padding-left: 25px;
    padding-right:25px; */
}
.progress{
    margin-top:5px;
    width: 80%;
}

.xterm{
    padding-top:20px;
    padding-left:20px;
}

#modal-button{
    visibility: hidden;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
} */

.modal.active{
    visibility:visible;
}
.modal-dialog {
    position: absolute;
    top: 50px;
    right:450px;
    bottom: 0;
    left: 0;
    /* z-index: 10040; */
    overflow: auto;
    overflow-y: auto;
  }

.pbid {
    background: #cedc98;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
 }
 