body {
    background-color: #fcf3e6ff;
    padding-top: 50px;
    color: #434343;
    font-family: 'Anonymous Pro', monospace;

}
.content{
    margin-top: 50px;
    margin-left:50px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.prompt{
    font-size: small;
    margin-bottom: 20px;
}
.instruction{
    font-size:normal;
}
.nav{
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
    text-align:center;
}
.navbuttons{
    width: 10%
    /* padding-left: 25px;
    padding-right:25px; */
}
.progress{
    margin-top:5px;
    width: 80%;
}

.xterm{
    padding-top:20px;
    padding-left:20px;
}

#modal-button{
    visibility: hidden;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
} */

.modal.active{
    visibility:visible;
}
.modal-dialog {
    position: absolute;
    top: 50px;
    right:450px;
    bottom: 0;
    left: 0;
    /* z-index: 10040; */
    overflow: auto;
    overflow-y: auto;
  }

#progress-bar {
    width:100% !important;
}

.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: auto;
  }
  .step {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ACACA6;
    border-radius: 50%;
    transition: background 1s;
  }
  .step.selected {
    border: 2px solid #4B81BD;   
  }
  .step.completed {
    border: 2px solid #4B81BD;
    background: #4B81BD; 
  }
  .progress_1 {
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ACACA6;
    z-index: -1;
  }
  .percent_1 {
    position: relative;
    width: 0;
    max-width: 100%;
    height: 100%;
    border-bottom: 2px solid #4B81BD;
    z-index: 1;
    transition: width 1s;
  }
  .progress_2 {
    position: relative;
    width: 100%;
    height: 50%;
    border-top: 2px solid #ACACA6;
    z-index: -1;
  }
  .percent_2 {
    position: relative;
    width: 0;
    max-width: 100%;
    height: 100%;
    border-top: 2px solid #4B81BD;
    z-index: 1;
    transition: width 1s;
  }
 
  /* HomePage */

  .homeTitle{
    text-align: center;
    border:3px solid beige;
    background-color: lightgreen;
    font-size: 50px;
    color: whitesmoke;
    height:100px;
    width:70%;
    margin: auto;
  }

  .gifAnimation{
    margin: auto;
    padding: 5%;
    text-align: center;
  }

  #grepGif{
    filter: drop-shadow(30px 10px 4px lightgray);
  }
  
  #leftIcon{
    padding-right:40px;
    text-align:right
  }

  #rightIcon{
    padding-left:40px;
    text-align:left
  }

  .navbutton{
    height:125px;
    width: 125px;
    filter: drop-shadow(30px 10px 4px lightgray);
    border-radius:25px;
    border: 2px solid lightgreen;
    position:relative;
    margin: 0 auto;
  }

  .navbutton:hover{
    opacity:0.7;
    cursor:pointer;
  }


