{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>


<script>
    let lesson_info = {{ lesson_info| tojson}}
</script>

<div class = "row">
    <div class = "col-md-7">
        <div class = "content">
            <div class = "title">
                title here!
            </div>
            <div class = "prompt">
                here is the prompt, which will tell people what to do.
            </div>

            <div class="instruction">
                and here's the instruction!
            </div>
        </div>

        <button type="button" id ="modal-button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          </button>
          
          <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <div class = "col-md-5">
        <div id="terminal"></div>
        <!-- <div id="pbid" class="pbid"></div> -->
    </div>
</div>
<div class = "nav">
    <a class ="navbuttons" id="prev">
        &#60; prev
    </a>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>  
    <a class ="navbuttons" id="next">
        next &#62;
    </a>
</div>

{% endblock %}
