{% extends "layout.html" %} {% block content %}

<script>
  let quiz_info = {{quiz_info|tojson}}
</script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz.js') }}"
></script>

<div class = "nav">
  <a class ="navbuttons" id="prev">
      &#60; prev
  </a>
  <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="quiz-prog-bar">25%</div>
  </div>
  <a class ="navbuttons" id="next">
      next &#62;
  </a>
</div>
<br>

<div>
  <div class = "content">
      <div class = "title">
          title here!
      </div>
      <div class = "prompt">
          here is the prompt, which will tell people what to do.
      </div>

  <br>
  <div id="terminal"></div>

  <br>
  <div id = "feedback">

  </div>

  <button type = "button" class="btn" id="bottom_next"> next > </button>

</div>

</div>

{% endblock %}
